[submodule "1_DSA_Javascript_Recursion"]
	path = 1_DSA_Javascript_Recursion
	url = https://github.com/surajit1312/DSA_Javascript_Recursion.git
[submodule "2_DSA_Javascript_Arrays"]
	path = 2_DSA_Javascript_Arrays
	url = https://github.com/surajit1312/DSA_Javascript_Arrays.git
[submodule "3_DSA_Sliding_Window_Technique"]
	path = 3_DSA_Sliding_Window_Technique
	url = https://github.com/surajit1312/DSA_Sliding_Window_Technique.git
[submodule "4_DSA_Javascript_Binary_Search"]
	path = 4_DSA_Javascript_Binary_Search
	url = https://github.com/surajit1312/DSA_Javascript_Binary_Search.git
[submodule "5_DSA_Javascript_LinkedList"]
	path = 5_DSA_Javascript_LinkedList
	url = https://github.com/surajit1312/DSA_Javascript_LinkedList.git
